/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2025 Waldiez & contributors
 */
.flow-wrapper .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow-wrapper.light .checkbox {
  background-color: #fefefe;
  border: 1px solid #ccc;
}

.flow-wrapper.dark .checkbox {
  background-color: #222;
  border: 1px solid #444;
}

.flow-wrapper .checkbox-label {
  position: relative;
  cursor: pointer;
  margin: 10px 0;
  padding-left: 1.5rem;
  height: 1.2rem;
  outline: none;
  display: inline-flex;
  align-items: center;
}

.flow-wrapper .checkbox-label .checkbox-label-view {
  margin-top: 4px;
}

.flow-wrapper .checkbox-label input {
  display: none;
}

.flow-wrapper .checkbox-label input:checked ~ .checkbox {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.flow-wrapper .checkbox-label input:indeterminate ~ .checkbox {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.flow-wrapper .checkbox-label input ~ .checkbox::after {
  content: "";
  position: absolute;
  display: none;
}

.flow-wrapper .checkbox-label input:checked ~ .checkbox::after {
  display: block;
  left: 0.3rem;
  top: 0.1rem;
  width: 0.3rem;
  height: 0.6rem;
  border: solid;
  border-width: 0 2px 2px 0;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flow-wrapper .checkbox-label input:indeterminate ~ .checkbox::after {
  display: block;
  top: 0.5rem;
  left: 0.1rem;
  width: 0.9rem;
  height: 2px;
  border: none;
}

.flow-wrapper.light .checkbox-label input:checked ~ .checkbox::after {
  border-color: #fefefe;
}

.flow-wrapper.dark .checkbox-label input:checked ~ .checkbox::after {
  border-color: #141414;
}

.flow-wrapper.light .checkbox-label input:indeterminate ~ .checkbox::after {
  border-color: #fefefe;
  background-color: #fefefe;
}

.flow-wrapper.dark .checkbox-label input:indeterminate ~ .checkbox::after {
  border-color: #141414;
  background-color: #141414;
}
