/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2026 Waldiez & contributors
 */
.dict-entries-view {
  display: flex;
  flex-direction: column;
}

.dict-entries-view label {
  padding-bottom: 0 !important;
}

.dict-entries-list {
  display: flex;
  flex-direction: column;
}

.dict-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dict-entry input {
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  margin-right: 5px;
}

.add-dict-entry-view {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-dict-entry-view input {
  margin-right: 5px;
}
