/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2026 Waldiez & contributors
 */
.drop_zone {
  height: 100px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.waldiez-light .drop_zone {
  border: 2px dashed #ccc;
  background-color: #fff;
}

body.waldiez-dark .drop_zone {
  border: 2px dashed #555;
  background-color: #222;
}

.drop_zone .drop_zone_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop_zone .drop_zone_content .drop_zone_icon {
  font-size: 1.5rem;
}

.drop_zone .drop_zone_content .drop_zone_text {
  font-size: 0.9rem;
}

body.waldiez-dark .drop_zone.drag-over,
body.waldiez-dark .drop_zone:hover {
  background-color: #333;
}

body.waldiez-light .drop_zone.drag-over,
body.waldiez-light .drop_zone:hover {
  background-color: #f8f9fa;
}
