/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2025 Waldiez & contributors
 */
.code-editor {
  width: 100%;
  height: 35vh;
  max-height: 340px;
  background-color: transparent;
  text-align: center;
}

body.waldiez-light .code-editor {
  border: 1px solid #ccc;
}

body.waldiez-dark .code-editor {
  border: 1px solid #333;
}
