/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2025 Waldiez & contributors
 */
.flow-wrapper .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.flow-wrapper .import-flow-label {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  font-size: unset;
}

.flow-wrapper .add-node {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.flow-wrapper .add-node svg {
  margin-right: 0.5rem;
  font-size: 1rem !important;
}

.flow-wrapper .editor-nav-action {
  padding: 10px;
  background-color: transparent !important;
}

.flow-wrapper .editor-nav-action svg {
  font-size: 1.3rem;
}

.flow-wrapper .flow-main {
  flex-direction: row;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.flow-wrapper .flow-main .react-flow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.flow-wrapper .user-input-modal .input-prompt {
  margin: 10px 4px;
}

.flow-wrapper .edit-flow-modal .modal-actions,
.flow-wrapper .user-input-modal .modal-actions {
  margin-top: 1rem;
}

.flow-wrapper .flow-data-preview {
  max-height: 60vh;
  overflow-y: auto;
}

.flow-wrapper .flow-data-preview-body-section {
  margin-top: 1rem;
}

.flow-wrapper .flow-data-preview-body-section h4 {
  margin: 10px 0;
}

.flow-wrapper .flow-order-item-wrapper,
.flow-wrapper .flow-chat-prerequisites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.flow-wrapper .flow-chat-prerequisites .select {
  margin: 0;
  padding: 0;
  border-radius: 5px !important;
}

.flow-wrapper .flow-chat-prerequisites .w-select__control {
  border-radius: 5px !important;
}

.flow-wrapper .flow-order-item,
.flow-wrapper .flow-chat-prerequisite-source {
  padding: 12px 0;
}

.flow-wrapper .flow-order-item span,
.flow-wrapper .flow-chat-prerequisite-source span {
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.flow-wrapper .flow-order-add-button,
.flow-wrapper .flow-order-item-actions button {
  margin-left: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.flow-wrapper .flow-order-add-button {
  border: 1px solid #007bff;
  margin-left: 0;
}

.flow-wrapper .flow-order-add-button:disabled,
.flow-wrapper .flow-order-item-actions button:disabled {
  border: none;
  color: #6c757d;
  cursor: not-allowed;
}

.flow-wrapper .flow-order-add-button:hover,
.flow-wrapper .flow-order-item-actions button:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.flow-wrapper .flow-order-item-actions,
.flow-wrapper .flow-chat-prerequisite-actions {
  display: flex;
  align-items: center;
}

.flow-wrapper .flow-chat-prerequisite-actions label {
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.flow-wrapper .flow-chat-prerequisite-actions .flow-chat-remove {
  margin-left: 10px;
}

.flow-wrapper .flow-order-add-wrapper .select {
  margin: 0 !important;
}

.flow-wrapper .flow-order-add-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
