/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2026 Waldiez & contributors
 */
.list-entries-view {
  display: flex;
  flex-direction: column;
}

.list-entries-label {
  margin-bottom: 10px;
}

.list-entries-view label {
  padding-bottom: 0 !important;
}

.list-entries-list {
  display: flex;
  flex-direction: column;
}

.list-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-list-entry-view {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
