.flow-wrapper .list-entries-view {
    display: flex;
    flex-direction: column;
}

.flow-wrapper .list-entries-label {
    margin-bottom: 10px;
}

.flow-wrapper .list-entries-view label {
    padding-bottom: 0 !important;
}

.flow-wrapper .list-entries-list {
    display: flex;
    flex-direction: column;
}

.flow-wrapper .list-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.flow-wrapper .list-entry input {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    margin-right: 10px;
}

.flow-wrapper .list-entry input[type="password"] {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.flow-wrapper .list-entry input[type="password"]:focus {
    color: black;
    text-shadow: none;
}

.flow-wrapper .list-entries-view button {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    cursor: pointer;
    min-width: 40px;
}

.flow-wrapper .add-list-entry-view button {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    cursor: pointer;
    margin-right: 10px;
}

.flow-wrapper .list-entry button:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.flow-wrapper .add-list-entry-view {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.flow-wrapper .add-list-entry-view input {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    margin-right: 10px;
}

.flow-wrapper .add-list-entry-view button:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.flow-wrapper .add-list-entry-view .visibilityWrapperBtn {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    cursor: pointer;
    margin-right: 10px;
    min-width: 40px;
}

.flow-wrapper.light .list-entries-view button {
    background-color: #f8f8f8;
    color: #000;
}

.flow-wrapper.dark .list-entries-view button {
    background-color: #222;
    color: #f8f8f8;
}
