/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2026 Waldiez & contributors
 */
.model-node {
  border-radius: 8px;
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.model-node .model-header {
  display: flex;
  padding: 0 8px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.model-node .model-header div[role="button"] {
  display: flex;
}

.model-logo {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.model-logo img {
  width: 30px;
  max-width: 30px;
  height: auto;
  background-color: transparent !important;
}

.model-logo.bedrock img,
.model-logo.other img {
  width: 20px !important;
  max-width: 20px !important;
}

.model-logo.openai img {
  margin-left: 2px !important;
  width: 18px !important;
  max-width: 18px !important;
}

.model-logo.cohere img {
  width: 24px !important;
  max-width: 24px !important;
}

.model-logo.anthropic img {
  width: 24px !important;
  max-width: 24px !important;
}

.model-logo.google img {
  width: 22px !important;
  max-width: 22px !important;
}

.model-logo.azure img {
  width: 22px !important;
  max-width: 22px !important;
}

.model-logo.deepseek img {
  width: 22px !important;
  max-width: 22px !important;
}

.model-logo.mistral img {
  width: 22px !important;
  max-width: 22px !important;
}

.model-logo.nim img {
  width: 24px !important;
  max-width: 24px !important;
}

.model-logo.groq img {
  width: 18px !important;
  max-width: 18px !important;
}

.model-node .model-header .node-label {
  width: 100%;
  max-width: 110px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.model-node .model-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.model-node .modal-body label {
  margin-top: 10px;
  padding: 4px;
}

.model-node .date-info {
  font-size: 0.7rem;
  color: #666;
}

.model-node .model-footer {
  display: flex;
  padding: 0 8px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

body.waldiez-light .model-node {
  border: 1px solid #ccc;
  background-color: white;
}

body.waldiez-dark .model-node {
  border: 1px solid #333;
  background-color: #222;
}

body.waldiez-dark .model-logo.other img,
body.waldiez-dark .model-logo.bedrock img,
body.waldiez-dark .model-logo.openai img {
  filter: invert(1);
}
