/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2025 Waldiez & contributors
 */
.react-flow__panel {
  margin-top: 10px !important;
}

.react-flow__node-agent {
  display: flex;
  align-items: stretch;
}

.react-flow__handle {
  border: none;
}

.react-flow__handle.not-selected {
  opacity: 1;
}

.react-flow__handle:hover {
  opacity: 1;
}

.agent-node .react-flow__handle.source {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.agent-node .react-flow__handle.target {
  width: 14px;
  height: 2px;
  border-radius: 0;
}

.agent-node .react-flow__handle.target.top,
.agent-node .react-flow__handle.target.bottom {
  width: 2px;
  height: 14px;
}

.react-flow__panel button {
  cursor: pointer;
  border: none;
}

.agent-node.assistant .react-flow__handle {
  background-color: var(--assistant-agent-color);
}

.agent-node.user_proxy .react-flow__handle {
  background-color: var(--user-proxy-agent-color);
}

.agent-node.rag_user_proxy .react-flow__handle,
.agent-node.doc_agent .react-flow__handle {
  background-color: var(--rag-user-proxy-agent-color);
}

.agent-node.reasoning .react-flow__handle {
  background-color: var(--reasoning-agent-color);
}

.agent-node.captain .react-flow__handle {
  background-color: var(--captain-agent-color);
}

.react-flow__resize-control.line {
  display: none;
}

.react-flow__resize-control.nodrag.bottom.right.handle.assistant {
  border-color: var(--assistant-agent-color) !important;
}

.react-flow__resize-control.nodrag.bottom.right.handle.user_proxy {
  border-color: var(--user-proxy-agent-color) !important;
}

.react-flow__resize-control.nodrag.bottom.right.handle.rag_user_proxy,
.react-flow__resize-control.nodrag.bottom.right.handle.doc_agent {
  border-color: var(--rag-user-proxy-agent-color) !important;
}

.react-flow__resize-control.nodrag.bottom.right.handle.reasoning {
  border-color: var(--reasoning-agent-color) !important;
}

.react-flow__resize-control.nodrag.bottom.right.handle.captain {
  border-color: var(--captain-agent-color) !important;
}

.react-flow__resize-control.nodrag.bottom.right.handle.group_manager {
  border-color: var(--group-manager-agent-color) !important;
}

.react-flow__resize-control.nodrag.bottom.left.handle {
  display: none;
}

.react-flow__resize-control.nodrag.top.left.handle {
  display: none;
}

.react-flow__resize-control.nodrag.top.right.handle {
  display: none;
}

.react-flow__attribution {
  background: transparent;
  padding: 10px;
}

.react-flow__controls {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.react-flow__controls-button {
  padding: 8px !important;
  margin: 4px !important;
  border: none !important;
}

.react-flow__background-pattern.dots {
  fill: transparent;
}

.react-flow__attribution a {
  color: currentcolor !important;
  opacity: 0.7;
}
