.flow-wrapper .select,
.flow-wrapper .select * {
  outline: none;
  box-shadow: none;
}

.flow-wrapper .w-select__single-value {
  margin-top: 4px;
}

.flow-wrapper .w-select__multi-value {
  padding: 2px 4px;
}

.flow-wrapper.dark .select,
.flow-wrapper.dark .select * {
  background-color: #222;
  color: #f8f8f8;
  border-radius: 4px;
  border: none;
}

.flow-wrapper.light .w-select__menu {
  border: 1px solid #ccc !important;
}

.flow-wrapper.dark .w-select__menu {
  border: 1px solid #444 !important;
}

.flow-wrapper.dark .select .w-select__input-container {
  background-color: unset;
  color: unset;
}

.flow-wrapper.light .w-select__multi-value,
.flow-wrapper.light .w-select__multi-value__label,
.flow-wrapper.light .w-select__multi-value__remove {
  background-color: #f3f3f3;
  color: #333;
}

.flow-wrapper.dark .w-select__multi-value,
.flow-wrapper.dark .w-select__multi-value__label,
.flow-wrapper.dark .w-select__multi-value__remove {
  background-color: #2a2a2a;
  color: #f8f8f8;
}
