/* stylelint-disable selector-class-pattern */
.flow-wrapper .center {
    text-align: center;
}

.flow-wrapper .currentColor {
    color: currentcolor;
}

.flow-wrapper .hidden {
    visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.flow-wrapper label.hidden {
    display: block !important;
}

.flow-wrapper .full-width {
    width: 100%;
}

.flow-wrapper .fill-available {
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.flow-wrapper .bold {
    font-weight: bold;
}

.flow-wrapper .italic {
    font-style: italic;
}

.flow-wrapper .flex {
    display: flex;
    align-items: center;
}

.flow-wrapper .flex-column {
    display: flex;
    flex-direction: column;
}

.flow-wrapper .flex-align-center {
    display: flex;
    align-items: center;
}

.flow-wrapper .flex-justify-center {
    display: flex;
    justify-content: center;
}

.flow-wrapper .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flow-wrapper .flex-1 {
    flex: 1;
}

.flow-wrapper .no-margin {
    margin: 0;
}

.flow-wrapper .margin-10 {
    margin: 10px;
}

.flow-wrapper .margin-top-5 {
    margin-top: 5px;
}

.flow-wrapper .margin-top--5 {
    margin-top: -5px;
}

.flow-wrapper .margin-top-10 {
    margin-top: 10px;
}

.flow-wrapper .margin-top--10 {
    margin-top: -10px;
}

.flow-wrapper .margin-top-20 {
    margin-top: 20px;
}

.flow-wrapper .margin-top--20 {
    margin-top: -20px;
}

.flow-wrapper .margin-bottom-5 {
    margin-bottom: 5px;
}

.flow-wrapper .margin-bottom--5 {
    margin-bottom: -5px;
}

.flow-wrapper .margin-bottom-10 {
    margin-bottom: 10px;
}

.flow-wrapper .margin-bottom--10 {
    margin-bottom: -10px;
}

.flow-wrapper .margin-bottom-20 {
    margin-bottom: 20px;
}

.flow-wrapper .margin-bottom--20 {
    margin-bottom: -20px;
}

.flow-wrapper .margin-left-5 {
    margin-left: 5px;
}

.flow-wrapper .margin-left--5 {
    margin-left: -5px;
}

.flow-wrapper .margin-left-10 {
    margin-left: 10px;
}

.flow-wrapper .margin-left--10 {
    margin-left: -10px;
}

.flow-wrapper .margin-left-20 {
    margin-left: 20px;
}

.flow-wrapper .margin-left--20 {
    margin-left: -20px;
}

.flow-wrapper .margin-right-5 {
    margin-right: 5px;
}

.flow-wrapper .margin-right--5 {
    margin-right: -5px;
}

.flow-wrapper .margin-right-10 {
    margin-right: 10px;
}

.flow-wrapper .margin-right--10 {
    margin-right: -10px;
}

.flow-wrapper .margin-right-20 {
    margin-right: 20px;
}

.flow-wrapper .margin-right--20 {
    margin-right: -20px;
}

.flow-wrapper .no-padding {
    padding: 0;
}

.flow-wrapper .padding-5 {
    padding: 5px;
}

.flow-wrapper .padding-10 {
    padding: 10px;
}

.flow-wrapper .padding-20 {
    padding: 20px;
}

.flow-wrapper .padding-top-5 {
    padding-top: 5px;
}

.flow-wrapper .padding-top-10 {
    padding-top: 10px;
}

.flow-wrapper .padding-top-20 {
    padding-top: 20px;
}

.flow-wrapper .padding-bottom-5 {
    padding-bottom: 5px;
}

.flow-wrapper .padding-bottom-10 {
    padding-bottom: 10px;
}

.flow-wrapper .padding-bottom-20 {
    padding-bottom: 20px;
}

.flow-wrapper .padding-left-5 {
    padding-left: 5px;
}

.flow-wrapper .padding-left-10 {
    padding-left: 10px;
}

.flow-wrapper .padding-left-20 {
    padding-left: 20px;
}

.flow-wrapper .padding-right-5 {
    padding-right: 5px;
}

.flow-wrapper .padding-right-10 {
    padding-right: 10px;
}

.flow-wrapper .padding-right-20 {
    padding-right: 20px;
}
