/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2026 Waldiez & contributors
 */
.flow-main .waldiez-sidebar {
  padding: 0;
  font-size: small;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: var(--app-height);
  transition: width 0.3s ease;
  overflow-y: hidden;
}

body.waldiez-light .flow-main .waldiez-sidebar {
  border-right: 1px solid #eee;
}

body.waldiez-dark .flow-main .waldiez-sidebar {
  border-right: 1px solid #333;
}

.flow-main .waldiez-sidebar .waldiez-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}

.flow-main .waldiez-sidebar .waldiez-sidebar-header .title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: -2px;
  font-family: Fredoka, sans-serif;
}

.flow-main .waldiez-sidebar .waldiez-sidebar-header .waldiez-sidebar-toggle {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

.flow-main .waldiez-sidebar .spacer {
  flex-grow: 1;
}

.flow-main .waldiez-sidebar-content {
  overflow-x: auto;
}

.flow-main .waldiez-sidebar svg {
  font-size: larger;
  height: 1rem;
  vertical-align: -0.2rem;
}

.flow-main .waldiez-sidebar.waldiez-sidebar.collapsed .waldiez-sidebar-header {
  justify-content: center;
  padding: 10px 10px 0;
}

.flow-main .waldiez-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2px 4px;
}

.flow-main .waldiez-sidebar ul li {
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
}

.flow-main .waldiez-sidebar ul li.expandable {
  display: flex;
  justify-content: space-between;
}

.flow-main .waldiez-sidebar ul li :first-child {
  margin-right: 10px;
}

.flow-main .waldiez-sidebar .waldiez-sidebar-footer {
  margin-bottom: 8px;
}

.flow-main .waldiez-sidebar.waldiez-sidebar.collapsed .waldiez-sidebar-footer ul li :first-child {
  margin-right: 0;
  margin-top: -2px;
}

.flow-main .waldiez-sidebar .dnd-description {
  margin: 10px;
  font-size: small;
}

.flow-main .waldiez-sidebar.waldiez-sidebar.collapsed ul {
  display: none;
}

.flow-main .waldiez-sidebar.waldiez-sidebar.collapsed .waldiez-sidebar-footer ul {
  display: unset;
}

.flow-main .waldiez-sidebar.waldiez-sidebar.collapsed .dnd-description {
  display: none;
}

.flow-main .waldiez-sidebar .dnd-area {
  padding: 1px 10px;
  border-radius: 5px;
  margin: 4px;
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  width: 100%;
  max-width: 180px;
  align-items: center;
}

body.waldiez-light .flow-main .waldiez-sidebar .dnd-area {
  border: 2px dotted #ccc;
}

body.waldiez-dark .flow-main .waldiez-sidebar .dnd-area {
  border: 2px dotted #999;
}

.flow-main .waldiez-sidebar.waldiez-sidebar.collapsed .dnd-area {
  display: none;
}

.flow-main .waldiez-sidebar .dnd-area img {
  max-width: 40px;
  margin-right: 8px;
}

.flow-main .waldiez-sidebar .dnd-area.user-proxy {
  border-color: var(--user-proxy-agent-color);
}

.flow-main .waldiez-sidebar .dnd-area.assistant {
  border-color: var(--assistant-agent-color);
}

.flow-main .waldiez-sidebar .dnd-area.rag-user {
  border-color: var(--rag-user-proxy-agent-color);
}

.flow-main .waldiez-sidebar .dnd-area.reasoning {
  border-color: var(--reasoning-agent-color);
}

.flow-main .waldiez-sidebar .dnd-area.captain {
  border-color: var(--captain-agent-color);
}
