.flow-wrapper .swarm-container {
  border: 2px solid currentcolor;
  border-radius: 10px;
  width: auto;
  height: auto;
  min-width: 480px;
  min-height: 320px;
  flex-grow: 1;
}

.flow-wrapper .swarm-container .header {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.flow-wrapper .swarm .react-flow__handle {
  border-radius: 2px;
  background-color: var(--swarm-agent-color);
}

.flow-wrapper .swarm .react-flow__handle.target {
  width: 20px !important;
  height: 10px !important;
}

.flow-wrapper .swarm .react-flow__handle-left.target,
.flow-wrapper .swarm .react-flow__handle-right.target {
  width: 10px !important;
  height: 20px !important;
}

.flow-wrapper .swarm .react-flow__handle.source {
  width: 18px;
  height: 18px;
  border-radius: 0;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.flow-wrapper .agent-swarm-handoff-recipients,
.flow-wrapper .agent-swarm-nestedChat-recipients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.flow-wrapper .agent-swarm-order-actions {
  display: flex;
  justify-content: space-between;
}

.flow-wrapper .agent-swarm-handoff-recipients .agent-swarm-handoff-recipient,
.flow-wrapper .agent-swarm-nestedChat-recipients .agent-swarm-nestedChat-recipient {
  display: flex;
  align-items: center;
  margin: 5px;
}
