/**
 * SPDX-License-Identifier: Apache-2.0
 * Copyright 2024 - 2026 Waldiez & contributors
 */
.wizard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wizard .wizard-step {
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.wizard .wizard-step--active {
  display: unset;
}

.wizard .wizard-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
