[submodule "examples"]
	path = examples
	url = ../examples.git
	branch = main
[submodule "packages/core/python"]
	path = packages/core/python
	url = ../python.git
	branch = main
[submodule "packages/core/react"]
	path = packages/core/react
	url =../react.git
	branch = main
[submodule "packages/vscode"]
	path = packages/vscode
	url = ../vscode.git
	branch = main
[submodule "packages/studio"]
	path = packages/studio
	url = ../studio.git
	branch = main
[submodule "packages/jupyter"]
	path = packages/jupyter
	url = ../jupyter.git
	branch = main
[submodule "package_templates"]
	path = package_templates
	url = ../package_templates.git
	branch = main
[submodule "docs"]
	path = docs
	url = ../docs.git
	branch = main
[submodule "packages/runner"]
	path = packages/runner
	url = ../runner.git
	branch = main
