.local/
.venv/
node_modules/
.cache/
build/
!dist/
lib/
site/
out/
.idea/
/*.waldiez
public/**/*
!public/.gitignore
**/coverage/
**/waldiez_out/
**/logs/
**/tmp/
**/documents/
**/.env
*.log
__pycache__/
*.py[cod]
*.egg
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.DS_Store
.coverage
**/*.coverage*
**/*_db
**/*.db
**/*cache
**/*.log
**/*.pid
**/*.buildinfo
**/*.tsbuildinfo
**/*.egg-info
**/.DS_Store
chroma/
waldiez/_version.py
**/*.mmd
docs/contribute/index.md
docs/reference/react
docs/reference/react/assets
.uv
uv.lock
!**/.env.example
