**/.local/
**/.venv/
**/node_modules/
**/.cache/
**/build/
**/dist/
**/site/
**/reports/
**/coverage/
**/waldiez_out/
**/logs/
**/tmp/
**/documents/
**/.env
!**/.env.example
*.log
*.db
*.sqlite
*.sqlite3
__pycache__/
*.py[cod]
*.egg
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.DS_Store
.coverage
**/*.coverage*
**/*_db
**/*cache
**/*log
**/*.pid
