.local/
.venv/
node_modules/
.cache/
build/
dist/
lib/
site/
out/
public/vs
public/min-maps
public/monaco.json
**/coverage/
**/waldiez_out/
**/logs/
**/tmp/
**/documents/
**/.env
!**/.env.example
*.log
__pycache__/
*.py[cod]
*.egg
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.DS_Store
.coverage
**/*.coverage*
**/*_db
**/*cache
**/*.log
**/*.pid
**/*.buildinfo
**/*.tsbuildinfo
**/*.egg-info
**/.DS_Store
waldiez/_version.py
**/*.mmd
.uv
