# Ignore everything
*
# But not these ...
!.gitignore
!icons/
!icons/*
!screenshots/
!screenshots/*
!apple-touch-icon.png
!browserconfig.xml
!site.webmanifest
!favicon.ico
!favicon-32x32.png
!favicon-48x48.png
!robots.txt
!icon.icns
**/.DS_Store
