:root {
  --md-primary-fg-color: #cb95fa;
}
.fredoka-300 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.fredoka-500 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.fredoka-700 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.md-source__fact--repositories {
  display: none;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 1.8rem;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top div {
  display: flex;
  align-items: center;
  /* color: #CB95FA; */
  font-weight: bolder;
  margin-bottom: 20px;
}

#top .page-header-left img {
  margin-right: 20px;
}

/* #top .page-header-right img { */
/* border-radius: 2rem;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5); */
/* } */

#top .page-header-left h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.getting-started-btn {
  padding: 15px 20px;
  min-width: 240px;
  max-width: 320px;
  background-color: #cb95fa;
  color: white !important;
  margin: 20px auto;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}

/* ul.md-nav__list:nth-child(3) > li:nth-child(1) > a:nth-child(1),
a.md-nav__link:nth-child(2) {
  font-weight: 700;
}
nav > .md-nav__title {
  display: none;
} */

.md-tabs {
  background-color: transparent;
  color: unset;
}
/* .md-tabs__list li:first-child {
  display: none;
} */
[data-md-color-scheme="custom-light"] img[src$="#only-dark"],
[data-md-color-scheme="custom-light"] img[src$="#gh-dark-mode-only"] {
  display: none; /* Hide dark images in light mode */
}
[data-md-color-scheme="custom-dark"] img[src$="#only-light"],
[data-md-color-scheme="custom-dark"] img[src$="#gh-light-mode-only"] {
  display: none; /* Hide light images in dark mode */
}
