:root {
    --app-height: calc(100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
    --app-width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    margin: 0;
    padding: 0;
    height: calc(100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
    height: -webkit-fill-available;
    height: var(--app-height);
    min-height: -webkit-fill-available;
    min-height: calc(100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
    width: -webkit-fill-available;
    width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
    width: var(--app-width);
    min-width: -webkit-fill-available;
    min-width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
    min-width: var(--app-width);
    -ms-overflow-style: -ms-autohiding-scrollbar;

    --ansi-black: #000;
    --ansi-red: #d9534f;
    --ansi-green: #5cb85c;
    --ansi-yellow: #f0ad4e;
    --ansi-blue: #0275d8;
    --ansi-magenta: #d63384;
    --ansi-cyan: #5bc0de;
    --ansi-white: #f7f7f7;
    --ansi-bright-yellow: #b58900;
}

body.light-theme {
    --background-color: #fefefe;
    --text-color: #141414;
    --border-color: #e0e0e0;
    --primary-color: #9c68e1;
    --primary-color-hover: #7e4eb8;
    --secondary-color: #ff865e;
    --success-color: #28c76f;
    --primary-alt-color: #f0f0f0;
    --primary-alt-color-hover: #e0e0e0;
    --input-background: #f8f8f8;
    --input-color: #141414;
    --input-border: #ccc;
    --ansi-black: #000;
    --ansi-red: #d9534f;
    --ansi-green: #5cb85c;
    --ansi-yellow: #f0ad4e;
    --ansi-blue: #0275d8;
    --ansi-magenta: #d63384;
    --ansi-cyan: #5bc0de;
    --ansi-white: #f7f7f7;
    --ansi-bright-yellow: #b58900;
}

body.dark-theme {
    --background-color: #141414;
    --text-color: #f8f8f8;
    --border-color: #222;
    --primary-color: #cb95fa;
    --primary-color-hover: #a76ce0;
    --secondary-color: #ff6b6b;
    --success-color: #28c76f;
    --primary-alt-color: #1a1a1a;
    --primary-alt-color-hover: #2a2a2a;
    --input-background: #222;
    --input-color: #f8f8f8;
    --input-border: #444;
    --ansi-black: #333;
    --ansi-red: #ff6b6b;
    --ansi-green: #4caf50;
    --ansi-yellow: #ffdd57;
    --ansi-blue: #61afef;
    --ansi-magenta: #c678dd;
    --ansi-cyan: #56b6c2;
    --ansi-white: #fff;
}

* {
    outline: none;
}

.clickable {
    cursor: pointer;
}
